<!DOCTYPE html>
<html lang="el">

<head>

  <meta charset="UTF-8">

  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

  <meta name="description"
        content="{{ page.description }}">

  <title>{{ page.name }}</title>

  <link rel="stylesheet"
        href="{{ '/assets/css/style.css' | relative_url }}">

</head>


<body
  {% if page.background %}
  style="--background-image: url('{{ page.background | relative_url }}');"
  {% endif %}
>


<main class="page">

  <section class="card">


    <!-- =========================
         ΦΩΤΟΓΡΑΦΙΑ ΠΕΛΑΤΗ
         ========================= -->

    {% if page.photo %}

      <img
        src="{{ page.photo | relative_url }}"
        alt="{{ page.name }}"
        class="profile-photo">

    {% endif %}


    <!-- =========================
         ΟΝΟΜΑ
         ========================= -->

    <h1>
      {{ page.name }}
    </h1>


    {% if page.title %}

      <div class="profession">
        {{ page.title }}
      </div>

    {% endif %}


    {% if page.company %}

      <div class="company">
        {{ page.company }}
      </div>

    {% endif %}


    {% if page.description %}

      <p class="description">
        {{ page.description }}
      </p>

    {% endif %}


    <!-- =========================
         ΚΟΥΜΠΙΑ ΕΠΙΚΟΙΝΩΝΙΑΣ
         ========================= -->

    <div class="buttons">


      {% if page.phone %}

        <a
          class="button"
          href="tel:{{ page.phone }}">

          📞 Κλήση

        </a>

      {% endif %}


      {% if page.email %}

        <a
          class="button"
          href="mailto:{{ page.email }}">

          ✉️ Email

        </a>

      {% endif %}


      {% if page.website %}

        <a
          class="button"
          href="{{ page.website }}"
          target="_blank"
          rel="noopener">

          🌐 Ιστοσελίδα

        </a>

      {% endif %}


    </div>


    <!-- =========================
         SOCIAL
         ========================= -->

    <div class="socials">


      {% if page.instagram %}

        <a
          href="{{ page.instagram }}"
          target="_blank"
          rel="noopener">

          Instagram

        </a>

      {% endif %}


      {% if page.facebook %}

        <a
          href="{{ page.facebook }}"
          target="_blank"
          rel="noopener">

          Facebook

        </a>

      {% endif %}


    </div>


    <!-- =========================
         QR / CONTACT
         ========================= -->

    <div class="contact-section">


      <h2>
        Αποθήκευση επαφής
      </h2>


      <p>
        Σκάναρε το QR code για να αποθηκεύσεις
        τα στοιχεία επικοινωνίας στο κινητό σου.
      </p>


      <div id="qrcode"></div>


      <button
        id="save-vcard"
        class="save-button"
        type="button">

        📇 Προσθήκη στις επαφές

      </button>


    </div>


    <!-- =========================
         FOOTER
         ========================= -->

    <div class="card-footer">

      © {{ site.time | date: "%Y" }}
      {{ page.company }}

    </div>


  </section>

</main>



<!-- =========================
     QR CODE LIBRARY
     ========================= -->

<script src="{{ '/assets/js/qrcode.min.js' | relative_url }}"></script>


<script>

document.addEventListener("DOMContentLoaded", function () {


  /* =========================
     ESCAPE VCARD
     ========================= */

  function esc(value) {

    return String(value || "")
      .replace(/\\/g, "\\\\")
      .replace(/;/g, "\\;")
      .replace(/,/g, "\\,")
      .replace(/\r?\n/g, "\\n");

  }


  /* =========================
     VCARD
     ========================= */

  const vcard = [

    "BEGIN:VCARD",

    "VERSION:3.0",

    "N:" +
      esc("{{ page.lastname }}") +
      ";" +
      esc("{{ page.firstname }}") +
      ";;;",

    "FN:" +
      esc("{{ page.name }}"),


    {% if page.company %}

    "ORG:" +
      esc("{{ page.company }}"),

    {% endif %}


    {% if page.title %}

    "TITLE:" +
      esc("{{ page.title }}"),

    {% endif %}


    {% if page.phone %}

    "TEL;TYPE=CELL:" +
      esc("{{ page.phone }}"),

    {% endif %}


    {% if page.email %}

    "EMAIL:" +
      esc("{{ page.email }}"),

    {% endif %}


    {% if page.website %}

    "URL:" +
      esc("{{ page.website }}"),

    {% endif %}


    {% if page.address %}

    "ADR;TYPE=WORK:;;" +
      esc("{{ page.address }}") +
      ";;;;",

    {% endif %}


    "END:VCARD"

  ].join("\r\n");


  /* =========================
     QR CODE
     ========================= */

  const qrContainer =
    document.getElementById("qrcode");


  if (typeof QRCode === "undefined") {

    qrContainer.innerHTML =
      "<p style='color:red'>Δεν φορτώθηκε η βιβλιοθήκη QR Code.</p>";

    console.error(
      "QRCode library was not loaded."
    );

  }

  else {

    try {

      const contactUrl =
        "{{ page.url | absolute_url }}?contact=1";


      new QRCode(

        qrContainer,

        {

          text: contactUrl,

          width: 220,

          height: 220,

          correctLevel:
            QRCode.CorrectLevel.M

        }

      );

    }

    catch (error) {

      qrContainer.innerHTML =
        "<p style='color:red'>Σφάλμα δημιουργίας QR Code.</p>";

      console.error(
        "QR Code error:",
        error
      );

    }

  }


  /* =========================
     VCARD DOWNLOAD
     ========================= */

  function saveVCard() {


    const blob =
      new Blob(

        [vcard],

        {
          type:
            "text/vcard;charset=utf-8"
        }

      );


    const url =
      URL.createObjectURL(blob);


    const a =
      document.createElement("a");


    a.href = url;


    a.download =
      "{{ page.firstname }}-{{ page.lastname }}.vcf";


    document.body.appendChild(a);


    a.click();


    a.remove();


    setTimeout(

      function () {

        URL.revokeObjectURL(url);

      },

      1000

    );

  }


  /* =========================
     BUTTON
     ========================= */

  document
    .getElementById("save-vcard")
    .addEventListener(
      "click",
      saveVCard
    );


  /* =========================
     QR → AUTOMATIC CONTACT
     ========================= */

  const params =
    new URLSearchParams(
      window.location.search
    );


  if (
    params.get("contact") === "1"
  ) {

    setTimeout(

      function () {

        saveVCard();

      },

      500

    );

  }


});

</script>


</body>

</html>
